/* First, the area of customization is set, usually identified by its element, class attribute, or id attribute. 
A colon follows, then the value of the customization, and a semicolon completes the line of code. It's very similar to KVPs in an object;*/
body {
    color: #f7f7f7;
}
/* Dana has chosen a space image to use as a background instead of a solid color; download it and save it to the "images" folder you created in your repo */
.jumbotron {/*  tells the stylesheet to apply the changes only to divs with a class of "jumbotron."*/
    background-image: url("../images/nasa.jpg");/*We specify a background image, then tell the code where the image is stored.*/
    background-size: 100% 100%;/*The size of the background is set to span the entire width and height of the element, no matter the size of the viewport. */
    text-align: center;/*We've aligned the text to be in the center of the element.*/
}
/* */